
@{
    ViewData["Title"] = "NoRes";
}
<br />
<br />
<br />
<br />
<div class="text-center">
    <h1>There is No Reservarions yet!</h1>
    <a class="btn btn-warning" asp-action="Index" asp-controller="Slider">Back to Home</a>
</div>



